.AI-Container{
    width: 100% !important;
    font-family: system-ui, sans-serif;
    /* background-image: url('/assets/images/AdminWallpaper2.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat; */
}

/* .AI-Border {
    border: 1px black solid;
} */
.AI-BorderDos {
    border: 1px black solid;
}

/* ---------| BARRA PRINCIPAL |-------- */
.AI-Barra {
    padding: 0.25em;
    background-color: #194c19;
    /* border-radius: 0.25em; */
    text-align: center;
}

.AI-Fuente {
    font-size: 1.5em;
    color: white;
}

/* ----------| TITULO Y SECCIONES |--------- */

.AI-GS {
    margin: 1em 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(3em, auto);
    gap: 0.25em;
    padding: 0.25em;
}
.AI-Gestor {
    grid-column: 1;
    grid-row: 1;
}
.AI-Gestor-Title {
    font-size: 2em;
}

.AI-Secciones {
    grid-column: 1;
    grid-row: 2;
    flex-wrap: wrap;
}

.AI-SeccionesSty {
    width: 9em;
    height: 5.5em;
    margin: 0 0.75em;
    background-color: #5b954d;
    border-radius: 0.55em;
    color: #004f00;
}
.AI-SeccionesSty:hover {
    background-color: #b9f2ab;
    cursor: grab;
    border: 1px solid #004f00;
}

/* ----------| CONTENIDO |------------ */
.AI-Contenido {
    height: 57em;
    margin: 2em 1.25em;
    background-color: #fff;
    border-radius: 0.60em;
}




/* ---------------| SERVICIOS |--------------- */
.ADS {
    display: grid;
    grid-template-columns: 2fr 8fr;
    /* grid-template-rows: 35em 57em; */
    grid-auto-rows: minmax(35em, 57em);
    gap: 0.75em;
}

.ADS-Menu {
    grid-column: 1;
    border-radius: 0.60em;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 2em;
    height: 30em;
}

.ADS-Contenido {
    grid-column: 2;
    border-radius: 0.60em;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    overflow-y: auto;
    padding: 2em;
}

.ADS-Contenido-Fondo {
    height: 100%;
    background-image: url('/assets/images/Opciones.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* .................................. INICIO DEL MENU ................................. */

.ADS-CintaOpciones { margin: 2em 0; }

.ADS-Opciones {
    width: 100%;
    height: 4em;
    border: 1px solid #194c19;
    border-radius: 0.60em;
    margin: 1.5em 0;
    transition: all 0.7s;
}

.ADS-Opciones:hover {
    cursor: pointer;
    background-color: var(--global--verdeClaro);
    transform: scale(1.04);
}

.ADS-Opcionesafter {
    background-color: var(--global--verdeClaro);
    transform: scale(1.02);
}

.ADS-Op-Texto { font-size: 1.0em; color: #194c19;   letter-spacing: 0.05em;}

/* ...................................... FIN DEL MENU .................................. */

/* .................................. INICIO DEL CONTENIDO ............................... */

.ADS-Contenido-Agregar {
    /* border: 1px solid #194c19; */    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 2em;
}

.ADS-Contenido-Agregar-1 {
    grid-column: 1 / 4;
    /* border: 1px solid #194c19; */
    height: 10em;
    /* transition: all 3s ease; */
}

.ADS-Contenido-Agregar-2 {
    grid-column: 4;
    padding: 2em;
    box-shadow: rgba(0, 83, 3, 0.05) 0px 0px 0px 1px;
    border-radius: 0.60em;
    /* height: 10em; */
    /* border: 1px solid #194c19; */
}

.ADS-Contenido-Agregar-3 {
    grid-column: 4;
    padding: 2em;
    box-shadow: rgba(0, 83, 3, 0.05) 0px 0px 0px 1px;
    border-radius: 0.60em;
    /* height: 10em; */
    /* border: 1px solid #194c19; */
}

.ADS-Contenido-NuevoContenido {
    display: grid;
    grid-template-columns: 70% 30%;
    /* grid-auto-rows: minmax(3em, 53em); */
    grid-template-rows: 3em, 50em;
    gap: 0.75em; 
}

ADS-Contenido-NC-0 {
    grid-column: 100%;
    grid-row: 1;
    height: 3em !important;
    border: 1px solid #194c19;
}

.ADS-Contenido-NC-1 {
    grid-column: 1;
    grid-row: 2;
    box-shadow: rgba(0, 83, 3, 0.05) 0px 0px 0px 1px;
    padding: 5em;
    border-radius: 0.60em;

    background-image: url('/assets/images/ImagenGuia.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.ADS-Contenido-NC-2 {
    grid-column: 2;
    grid-row: 2;
    border: 1px solid #194c19;
    padding: 1em;
    border-radius: 0.60em;
    box-shadow: rgba(0, 83, 3, 0.05) 0px 0px 0px 1px;
}













/* ---------------| PROGRAMAS |--------------- */
.ADP {
    display: grid;
    grid-template-columns: 2fr 8fr;
    /* grid-template-rows: 35em 57em; */
    grid-auto-rows: minmax(35em, 57em);
    gap: 0.75em;
}

.ADP-Menu {
    grid-column: 1;
    border-radius: 0.60em;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 2em;
    height: 30em;
}

.ADP-Menu-NewHeight {
    height: 30em !important;
}

.ADP-Contenido {
    grid-column: 2;
    border-radius: 0.60em;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    overflow-y: auto;
    padding: 2em;
}

.ADP-Contenido-Fondo {
    height: 100%;
    background-image: url('/assets/images/Opciones.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* ........................... INICIO DEL MENU ......................... */


.ADP-CintaOpciones { margin: 2em 0; }

.ADP-Opciones {
    width: 100%;
    height: 4em;
    border: 1px solid #194c19;
    border-radius: 0.60em;
    margin: 1.5em 0;
    transition: all 0.7s;
}

.ADP-Opciones:hover {
    cursor: pointer;
    background-color: var(--global--verdeClaro);
    transform: scale(1.04);
}

.ADP-Opcionesafter {
    background-color: var(--global--verdeClaro);
    transform: scale(1.02);
}

.ADP-Op-Texto { font-size: 1.0em; color: #194c19;   letter-spacing: 0.05em;}

/* ........................... FIN DEL MENU ......................... */

/* ........................... INICIO DEL CONTENIDO ......................... */

.ADP-Contenido-Agregar {
    /* border: 1px solid #194c19; */
    display: grid;
    grid-template-columns: repeat();
    grid-template-rows: 1fr;
    gap: 2em;
}

.ADP-Contenido-Agregar-1 {
    grid-column: 1 / 4;
    /* border: 1px solid #194c19; */
    height: 10em;
    /* transition: all 3s ease; */
}

.ADP-Contenido-Agregar-2 {
    grid-column: 4;
    padding: 2em;
    box-shadow: rgba(0, 83, 3, 0.05) 0px 0px 0px 1px;
    border-radius: 0.60em;
    /* height: 10em; */
    /* border: 1px solid #194c19; */
}

.ADP-Contenido-Agregar-3 {
    grid-column: 4;
    padding: 2em;
    box-shadow: rgba(0, 83, 3, 0.05) 0px 0px 0px 1px;
    border-radius: 0.60em;
    /* height: 10em; */
    /* border: 1px solid #194c19; */
}

.ADP-Contenido-NuevoContenido {
    display: grid;
    grid-template-columns: 70% 30%;
    /* grid-auto-rows: minmax(3em, 53em); */
    grid-template-rows: 3em, 50em;
    gap: 0.75em; 
}

ADP-Contenido-NC-0 {
    grid-column: 100%;
    grid-row: 1;
    height: 3em !important;
    border: 1px solid #194c19;
}

.ADP-Contenido-NC-1 {
    grid-column: 1;
    grid-row: 2;
    box-shadow: rgba(0, 83, 3, 0.05) 0px 0px 0px 1px;
    padding: 5em;
    border-radius: 0.60em;


    background-image: url('/assets/images/ImagenGuia.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.ADP-Contenido-NC-2 {
    grid-column: 2;
    grid-row: 2;
    border: 1px solid #194c19;
    padding: 1em;
    border-radius: 0.60em;
    box-shadow: rgba(0, 83, 3, 0.05) 0px 0px 0px 1px;
}

/* CONTENIDO LISTA */

.ADPDC-Main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 5em 58em auto;
    gap: 0.5em;
    padding: 2em 7.5em 7.5em 7.5em;
    /* margin: 1.5em 3em; */
}
.ADPDC-Title { grid-row: 1; }

.ADPDC-Text {
    grid-row: 3;
    border-radius: 0.75em;
}

.ADPDC-Img {
    grid-row: 2;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    gap: 0.5em;
}

.ADPDC-I-1 {
    grid-column: 1;
    border-radius: 0.75em;
    /* background-image:url('/assets/images/AdminWallpaper2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

.ADPDC-I-2 {
    grid-column: 2;
    /* padding: 0.25em; */

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.25em;
}

.ADPDC-I-I-1 { 
    grid-row: 1; border-radius: 0.75em;
    /* background-image:url('/assets/images/AdminWallpaper2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}
.ADPDC-I-I-2 { 
    grid-row: 2; border-radius: 0.75em;
    /* background-image:url('/assets/images/AdminWallpaper2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}
.ADPDC-I-I-3 { 
    grid-row: 3; border-radius: 0.75em;
    /* background-image:url('/assets/images/AdminWallpaper2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

/* ........................... FIN DEL CONTENIDO ......................... */

:root {
    --global--verdeClaro: #6dd93b46; 
    --global--verde: #6DD93B;
    --global--verdeContraste: #4F9000;
    --global--otroVerde: #1F8C3A;
    --global--azul: #023E73;
    --global--azulCl: #033E8C;
}