/* --------------| Begin Global Clases |--------------- */

* {
    box-sizing: border-box;
    font-family: system-ui;
    font-weight: 500;
    box-sizing: border-box;
}

.GB-labelFont {
    letter-spacing: 0.9px;
    color: #576E85;
    font-size: 0.95em;
}

.GBborderBlack {
    border: 1px solid #000;
    border-radius: 0.35em;
}

.GBMargin { margin: 0.25em; }

.GBDisplayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.GBTextCenter {
    text-align: center;
}

.GBFontMonoton {
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.GBFontOregano {
    font-family: "Oregano", cursive;
    font-weight: 400;
}

.GBFontBebasN {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/* --------------| End Global Clases |--------------- */

/* -----------------------------| Begin Main Screen |------------------------------- */

.MAS-BannerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 2.5em 0;
    width: 100% !important;
    height: 90vh !important;
}

.MAS-BannerImg {
    width: 97%;
    height: 90vh;
    background-image: url('/assets/images/BannerTwo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1.5em;
}

/* Clases tipo Dago */

.MAS-MapCordilleraImg {
    width: 70%;
    height: 75vh;
    background-image: url('/assets/images/cordilleras-de-el-salvador.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1.5em;
}

.MAS-Container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0.75em 2em 2.5em 3em;
    width: 90%;
}

.MAS-BannerCalenDiv {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0.75em 2em 2.5em 3em;
    width: 90% !important;
    height: 90vh !important;
}

.MAS-CalendarioActiveImg {
    width: 100%;
    height: 100vh;
    background-image: url('/assets/images/2024-calendar.png');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    border-radius: 1.5em;
}


.MAS-Activities {
    width: 45%; 
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.MAS-Activity {
    margin-bottom: 1.5em;
}

.MAS-Activity h3 {
    margin: 0;
    font-size: 1.25em;
    color: #ffffff;
    font-weight: bold;
}

.MAS-Activity p {
    margin: 0.5em 0;
    color: #ffffff;
    font-weight: normal;
}
.container {
    font-family: Arial, sans-serif;
    background-color: #001f24;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    overflow: hidden; /* Evita el desbordamiento horizontal */
}

.cards {
    display: flex;
    transition: transform 0.5s ease; /* Transición suave para el desplazamiento */
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin: 20px;
    cursor: grab;
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.card-content {
    font-size: 1em;
    color: #666;
}


/* -----------------------------| End Main Screen |------------------------------- */


/* -----------------------------| Begin Preview Cards |------------------------------- */
:root {
    --global-colorBack: #000;
    --global-opacityBack: 0.50;
    --global-textWhite: #fff;
    --global-projecto1: url("");
    --global-projecto2: url("");
    --global-projecto3: url("");
}
#PREC-Title {
    font-size: 4em; color: white;
}

.PREC-CardPJ { margin: 1.75em 0 1.75em 0; }

/* .GBborderWhite {
    border: 1px solid #fff;
} */

.PRECCard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, minmax(27em, auto));
    grid-gap: 0.75em;
    padding: 0.9em;
    /* margin: 0.5em; */
    width: 95%;
    background-image: url('/assets/images/FondoSea.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1.5em !important;
}

#PREC-View1 { background-image: var(--global-projecto1); }
#PREC-View2 { background-image: var(--global-projecto2); }
#PREC-View3 { background-image: var(--global-projecto3); }

.PRECView {
    grid-column: 1 / 3;
    grid-row: 1;
    /* height: 25em; */
    color: var(--global-textWhite);
    background-color: var(--global-colorBack);
    /* opacity: var(--global-opacityBack); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.75em;
}

.PRECSteps {
    grid-column: 3 / 6;
    grid-row: 1;
    /* height: 25em; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 0.15em;
    color: var(--global-textWhite);
    background-color: var(--global-colorBack);
    opacity: var(--global-opacityBack);
    border-radius: 0.75em;
}

.PRECStepO {
    font-size: 2.5em;
    grid-row: 1 / 3; 
    grid-column: 1 / 4;
    border-radius: 0.40em;
}

.PRECStepT { grid-row: 3 / 11; grid-column: 1 / 4; font-size: 1.15em; padding: 1.25em; text-align: justify; border-radius: 0.70em !important;}

.PRECStepTh { grid-row: 9 / 11; grid-column: 3; z-index: 10; border-radius: 0.40em;}


/* -----------------------------| End Preview Cards |-------------------------------- */

