/* --------------| Begin Global Clases |--------------- */

* {
    box-sizing: border-box;
    font-family: system-ui;
    font-weight: 500;
    box-sizing: border-box;
}

.labelFont {
    letter-spacing: 0.9px;
    color: #576E85;
    font-size: 0.95em;
}

.GBborderBlack {
    border: 1px solid #000;
    border-radius: 0.35em;
}

.GBMargin { margin: 0.25em; }

.GBDisplayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.GBTextCenter {
    text-align: center;
}

/* --------------| End Global Clases |--------------- */

/* -----------------------------| Begin Main Screen |------------------------------- */

.MAS-BannerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 2.5em 0;
    width: 100% !important;
    height: 90vh !important;
}

.MAS-BannerImg {
    width: 100%;
    height: 90vh;
    background-image: url('/assets/images/BannerTwo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* border-radius: 0.75em; */
}

/* -----------------------------| End Main Screen |------------------------------- */


/* -----------------------------| Begin Preview Cards |------------------------------- */
:root {
    --global-colorBack: #000;
    --global-opacityBack: 0.50;
    --global-textWhite: #fff;
}

.PREC-CardPJ { margin: 1.75em 0 1.75em 0; }

.GBborderWhite {
    border: 1px solid #fff;
    border-radius: 0.35em;
}

.PRECCard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 0.75em;
    padding: 0.5em;
    /* margin: 0.5em; */
    width: 95%;
    background-image: url('/assets/images/FondoSea.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.PRECView {
    grid-column: 1 / 3;
    grid-row: 1;
    height: 25em;
    color: var(--global-textWhite);
    background-color: var(--global-colorBack);
    opacity: var(--global-opacityBack);
}

.PRECSteps {
    grid-column: 3 / 6;
    grid-row: 1;
    height: 25em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 0.15em;
    color: var(--global-textWhite);
    background-color: var(--global-colorBack);
    opacity: var(--global-opacityBack);
}

.PRECStepO {
    font-size: 2.5em;
    grid-row: 1 / 3; 
    grid-column: 1 / 4; 
}

.PRECStepT { grid-row: 3 / 11; grid-column: 1 / 4; }

.PRECStepTh { grid-row: 10; grid-column: 3; }

/* -----------------------------| End Preview Cards |-------------------------------- */


/* --------------------------|Begin Noticias Carusel |------------------------------ */

.NAENews {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 0.75em;
    padding: 0.5em;
    margin: 0.5em;
}

.NAENewsImg {
    grid-column: 1 / 5;
    grid-row: 1;
    height: 25em;
}

.NAENewsPanel {
    grid-column: 5;
    grid-row: 1;
    height: 25em;
}
/* -------------------------|End Noticias Carusel |------------------------------ */

.TheStructure {
    display: grid;
    grid-template-columns: repeat(10 , 1fr);
    gap: 0.7em;
    background-image: url("/assets/images/FondoSea.png");
    object-fit: cover;
}

.imagePSN {
    grid-column: 1 / 5;
    grid-row: 1;
    height: 30em;
    background-color: #000;
    opacity: 0.60;
}
.textoPSN {
    grid-column:  5 / 11;
    grid-row: 1;
    height: 30em;
    background-color: #000;
    opacity: 0.60;
}

.uncuartos {
height: 15%;
}

.trescuartos {
height: 70%;
}

.displayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.displayFlex_right {
    display: flex;
    justify-content: end;
    align-items: center;
}


#mainText {
    color: white;
    font-size: 2.5em;
    letter-spacing: 0.9px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;

}

#middleText {
    color: White;
    padding: 0 1.25em 0 1.25em;
    font-size: 1.15em;
    text-align: justify;
}

#lastText {
    color: #fff !important;
}
