* {
    box-sizing: border-box;
    font-family: system-ui;
    font-weight: 500;
}

.labelFont {
    letter-spacing: 0.9px;
    color: #576E85;
    font-size: 0.95em;
}

.borderBlack {
    border: 1px solid #000;
    border-radius: 0.35em;
}

.marginG { margin: 0.25em; }

.TheStructure {
    display: grid;
    grid-template-columns: repeat(10 , 1fr);
    gap: 0.7em;
    background-image: url("/assets/images/FondoSea.png");
    object-fit: cover;
}

.imagePSN {
    grid-column: 1 / 5;
    grid-row: 1;
    height: 30em;
    background-color: #000;
    opacity: 0.60;
}
.textoPSN {
    grid-column:  5 / 11;
    grid-row: 1;
    height: 30em;
    background-color: #000;
    opacity: 0.60;
}

.uncuartos {
height: 15%;
}

.trescuartos {
height: 70%;
}

.displayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.displayFlex_right {
    display: flex;
    justify-content: end;
    align-items: center;
}


#mainText {
    color: white;
    font-size: 2.5em;
    letter-spacing: 0.9px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;

}

#middleText {
    color: White;
    padding: 0 1.25em 0 1.25em;
    font-size: 1.15em;
    text-align: justify;
}

#lastText {
    color: #fff !important;
}

/* --------------| Preview Cards |------------------ */

#PreC_card { padding: 1em;}