.MAS-Nav {
  background-color: transparent;
  color: #fff;
  /* padding: 0.75em 0.75em; */
  letter-spacing: 0.6px;
}

.MAS-Ul2 {
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 7em 0 7em;
  height: 4.25em;
  gap: 5em;
}

.MAS-LI2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 10em;
  height: 4.25em;
  transition: all 0.75s ease;
  border-radius: 0.25em;
  margin-top: 0.25em;
}

.MAS-A2 {
  /* padding-top: 0.5em; */
  text-decoration: none;
  color: #4F9000;
  font-size: 16px;
}

.MAS-LI2:hover {
  /* background: rgb(0,36,1);
  background: linear-gradient(90deg, rgba(0,36,1,1) 0%, rgba(79,144,0,1) 90%, rgba(105,191,44,1) 100%); */
  color: #ffcc00;
  background: #002401;
}

.MAS-LI2:hover .MAS-A2 {
  color: #ffcc00;
}

#MAS-A2ICON img{
  transform: scale(0.9);
}
/* .MAS-Nav {
    background-color: transparent;
    color: #fff;
    padding: 21px 20px;
    letter-spacing: 0.6px;
}

  .MAS-Nav .MAS-Ul2 {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 1.5em;
  }

  .MAS-Nav .MAS-Ul2 .MAS-LI2 {
    margin-left: 1.5em;
  }

  .MAS-Nav .MAS-Ul2 .MAS-LI2:first-child {
    margin-left: 15em;
  }

  .MAS-Nav .MAS-Ul2 .MAS-LI2:last-child {
    margin-right: 15em;
  }

  .MAS-Nav .MAS-Ul2 .MAS-LI2 .MAS-A2 {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: all 0.4s ease;
  }

  .MAS-Nav .MAS-Ul2 .MAS-LI2 .MAS-A2:hover {
    color: #ffcc00;
    background-color: #4f9000;
  }

  #MAS-A2ICON img{
    margin-top: -0.75em;
    transform: scale(0.9);
  } */

