/* Clases tipo Dago */

.MAS-MapCordilleraImg {
    width: 70%;
    height: 75vh;
    background-image: url('/assets/images/cordilleras-de-el-salvador.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1.5em;
}

.MAS-Container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0.75em 2em 2.5em 3em;
    width: 90%;
}

.MAS-BannerCalenDiv {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0.75em 2em 2.5em 3em;
    width: 90% !important;
    height: 90vh !important;
}

.MAS-CalendarioActiveImg {
    width: 95%;
    height: 100vh;
    background-image: url('/assets/images/2024-calendar.png');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    border-radius: 1.5em;
}


.MAS-Activities {
    width: 45%; 
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.MAS-Activity {
    margin-bottom: 1.5em;
}

.MAS-Activity h3 {
    margin: 0;
    font-size: 1.25em;
    color: #000000;
    font-weight: bold;
}

.MAS-Activity p {
    margin: 0.5em 0;
    color: #000000;
    font-weight: normal;
}
.container {
    font-family: Arial, sans-serif;
    background-color: #3f2323;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    overflow: hidden; /* Evita el desbordamiento horizontal */
}

.cards {
    display: flex;
    transition: transform 0.5s ease; /* Transición suave para el desplazamiento */
}

.card {
    background-color: #7ebea3;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin: 20px;
    cursor: grab;
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.card-content {
    font-size: 1em;
    color: #666;
}

/* Carrosel */

.carousel-container {
    width: 900px;
    height: 700px;
    margin: 0 auto; /* Centra horizontalmente */
    display: flex;
    justify-content: center;
    align-items: center; /* Centra verticalmente */
}