/* -----------------------------| Begin Main Screen |------------------------------- */

:root {
    --global--imagenInicio:  url('/assets/images/BannerTwo.png');
    --global--verdeClaro: #6dd93b46; 
    --global--verde: #6DD93B;
    --global--verdeContraste: #4F9000;
    --global--otroVerde: #1F8C3A;
    --global--azul: #023E73;
    --global--azulCl: #033E8C;

    --global--verdeInventado: #21a342;
}

body {
    /* PRIMERA OPCION UN POCO MAS OSCURA */
    /* background: rgb(0,36,1);
    background: linear-gradient(90deg, rgba(0,36,1,1) 0%, rgba(79,144,0,1) 90%, rgba(105,191,44,1) 100%); */

    /* SEGUNDA OPCION  */
    /* background: rgb(0,84,2); */
    /* background: linear-gradient(90deg, rgba(0,84,2,1) 0%, rgba(79,144,0,1) 90%, rgba(105,191,44,1) 100%); */

    /* TERCERA OPCION */
    /* background: rgb(0,36,1); */
    /* background: linear-gradient(90deg, rgba(0,36,1,1) 0%, rgba(79,144,0,1) 72%, rgba(105,191,44,1) 100%); */

    /* CUARTA OPCION */
    /* background: rgb(105,191,44); */
    /* background: radial-gradient(circle, rgba(105,191,44,1) 0%, rgba(0,36,1,1) 94%); */

    /* NUEVO COLOR */
    background: #fff;
}

.MAS-BannerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 2.5em 0;
    width: 100% !important;
    height: 90vh !important;
}

.MAS-BannerImg {
    width: 97%;
    height: 90vh;
    background-image: var(--global--imagenInicio);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1.5em;
    border: 0.10em solid var(--global--otroVerde);
}

/* ---------------| MISION Y VISION |------------- */

.PI-Div-FormatoInfo {
    padding: 7em;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 5em;
}

.PI-FI-1 {
    grid-column: 1;
    grid-row: 1;
    /* border: 1px solid blue; */
}

.PI-FI-2 {
    grid-column: 2;
    grid-row: 1;
    /* border: 1px solid blue; */
}

.PI-FormatoInfo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 4em auto;
    gap: 0.25em;    
}

.PI-FormatoInfo-Title {
    /* border: 1px solid red; */
    grid-column: 1;
    grid-row: 1; 
}

.PI-FormatoInfo-Title h3{
    font-size: 4em;
    color: #ffcc00;
}

.PI-FormatoInfo-Text {
    /* border: 1px solid cadetblue; */
    grid-column: 1;
    grid-row: 2;
    padding: 1em;
    text-align: justify;
}

.PI-FormatoInfo-Text {
    color: #fff;
    font-size: 1.2em;
    font-family: system-ui;
    letter-spacing: 0.95px;
    line-height: 2em;
    border: 0.2em solid #002401;
    border-radius: 1em;
    padding: 1.25em;
}


/* -----------------------------| End Main Screen |------------------------------- */